@import "tailwindcss";

/* Smooth theme transition */

body{
  transition: background 0.3s ease, color 0.3s ease;
}

/* LIGHT THEME */

.light{
  background:#FAFAF9;
  color:#1E293B;
}

/* DARK THEME */

.dark{
  background:#020617;
  color:#F8FAFC;
}