@import "tailwindcss";

/* GLOBAL FONT */

body{
  font-family: Inter, system-ui, sans-serif;
  background:#f6eee9;
  color:#2d2d2d;
}

/* MAIN PAGE BACKGROUND */

.site-bg{
  background:#f6eee9;
}

/* CARD STYLE */

.card{
  background:#fff7f4;
  border-radius:16px;
  padding:20px;
  box-shadow:0 8px 30px rgba(0,0,0,0.05);
}

/* PRIMARY BUTTON */

.btn-primary{
  background:#d98b8b;
  color:white;
  padding:12px 20px;
  border-radius:999px;
  font-weight:600;
  transition:0.25s;
}

.btn-primary:hover{
  background:#c97979;
}

/* SECONDARY BUTTON */

.btn-outline{
  border:1px solid #e5d5cd;
  padding:12px 20px;
  border-radius:999px;
}

.btn-outline:hover{
  background:#f3e3dc;
}